// =================================
//   ALERTS
// =================================

// Imports
@use 'sass:color';
@use '../base/variables' as *;
@use 'components-mixins' as components;

// Info alert
.alert-info {
    @include components.alert-info();
}
