// =================================
//   CARDS
// =================================

// Imports
@use 'sass:color';
@use '../base/variables' as *;
@use '../base/mixins' as *;
@use 'components-mixins' as components;

// =================================
//   CARD
// =================================

// Card container
.card {
  @include components.card;
}

// Card image
.card-image {
  @include components.card-img;
}

// Card header
.card-header {
  @include components.card-header;
}

// Card body
.card-body {
  @include components.card-body;
}

// Card footer
.card-footer {
  @include components.card-footer;
}

// =================================
//   CARD PLAYER
// =================================

.card-player {
  .card-image {
    aspect-ratio: 4 / 3;
  }

  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-header {
    text-align: center;
    background-color: $bg-page;
  }

  .card-body {
    padding: $spacing-sm $spacing-lg;
  }

  .card-title {
    @include title(1.35rem, $text-primary);
    margin-bottom: 0;
  }

  .card-subtitle {
    @include subtitle(1rem, $text-accent);
    margin-bottom: 0;
  }

  .card-text {
    @include text();
    margin-bottom: 0;
  }
}
