// =================================
//   TOOLBAR
// =================================

// Imports
@use 'sass:color';
@use '../base/variables' as *;
@use '../base/mixins' as *;

.sidebar {
  background-color: $bg-surface;
  padding: $spacing-lg;
  border-radius: $rounded-sm;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
