// =================================
//   TOOLBAR
// =================================

// Imports
@use '../base/variables' as *;
@use '../base/mixins' as *;

// Container
.toolbar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: $spacing-lg2;

  @include media-breakpoint-down($bp-xl) {
    gap: $spacing-lg;
  }

  @include media-breakpoint-down($bp-md) {
    gap: $spacing-md;
  }
}

// Select
.sortPlayer {
  display: flex;
  align-items: center;
  width: 300px;
  gap: $spacing-md;

  &__select {
    flex-grow: 1;
  }

  @include media-breakpoint-down($bp-xxl) {
    width: 250px;
  }

  @include media-breakpoint-down($bp-lg) {
    width: 200px;
  }

  @include media-breakpoint-down($bp-sm) {
    width: 100%;
  }
}
