// =================================
//   TOOLBAR
// =================================

// Imports
@use '../base/variables' as *;
@use '../base/mixins' as *;

// Container
.toolbar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: $spacing-lg2;

  @include media-breakpoint-down($bp-xl) {
    gap: $spacing-lg;
  }

  @include media-breakpoint-down($bp-md) {
    grid-template-columns: 1fr;
    gap: $spacing-md;
  }
}

// Select
.sortPlayer {
  display: flex;
  align-items: center;
  width: 300px;
  max-width: 100%;
  gap: $spacing-md;

  &__select {
    flex-grow: 1;
  }
}
