// =================================
//   FILTER FORM
// =================================

// Imports
@use '../base/variables' as *;
@use '../base/mixins' as *;

.filter-form {
  &__select-team {
    align-items: stretch;

    @include media-breakpoint-down($bp-lg) {
      align-items: flex-start;
    }
  }

  &__select {
    @include media-breakpoint-down($bp-lg) {
      width: 100%;
      max-width: 300px;
    }
  }
  
  &__check-positions,
  &__check-ageGroup {
    @include media-breakpoint-between($bp-sm, $bp-lg) {
      flex-flow: row wrap;
    }
  }

  &__apply-ageRange {
    max-width: 300px;
  }
}
