// =================================
//   INTRO
// =================================

// Imports
@use '../base/variables' as *;
@use '../base/mixins' as *;

.intro {
  background-color: $bg-accent;
  padding-block: 5rem;

  @include media-breakpoint-down($bp-md) {
    padding-block: 3rem;
  }

  &__title {
    @include page-title();
    text-transform: uppercase;

    @include media-breakpoint-down($bp-md) {
      font-size: $fs-xxl;
    }
  }

  &__subtitle {
    @include title($fs-xxl, $text-accent);

    @include media-breakpoint-down($bp-md) {
      font-size: $fs-lg;
    }
  }

  &__text {
    @include text($fs-lg);

    @include media-breakpoint-down($bp-md) {
      font-size: $fs-md;
    }
  }

  &__hr {
    height: 4px;
    width: 5rem;
    background-color: $text-accent;
    border: none;

    @include media-breakpoint-down($bp-md) {
      display: none;
    }
  }
}
