// =================================
//   INTRO
// =================================

// Imports
@use 'sass:color';
@use '../base/variables' as *;
@use '../base/mixins' as *;

.intro {
  background: linear-gradient(
    180deg,
    color.scale($bg-accent, $lightness: 3%) 0%,
    color.scale($bg-accent, $lightness: -1%) 100%
  );
  padding-block: 4rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);

  @include media-breakpoint-down($bp-md) {
    padding-block: 3rem;
  }

  &__title {
    @include page-title();
    text-transform: uppercase;
    margin-bottom: 0.75rem;

    @include media-breakpoint-down($bp-md) {
      font-size: $fs-xxl;
      margin-bottom: 0.5rem;
    }
  }

  &__season-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

    @include media-breakpoint-down($bp-md) {
      display: block;
      margin-bottom: 0.75rem;
    }
  }

  &__subtitle {
    @include title($fs-xxl, $text-accent);
    margin: 0;

    @include media-breakpoint-down($bp-md) {
      font-size: $fs-lg;
    }
  }

  &__text {
    @include text($fs-lg);
    margin: 0;

    @include media-breakpoint-down($bp-md) {
      font-size: $fs-md;
    }
  }

  &__hr {
    height: 4px;
    width: 3.5rem;
    border: none;
    border-radius: 2px;
    background-color: $text-accent;

    @include media-breakpoint-down($bp-md) {
      display: none;
    }
  }
}
