// =================================
//   INTRO
// =================================

// Imports
@use '../base/variables' as *;
@use '../base/mixins' as *;

.intro {
  background-color: $bg-brand;

  &__title {
    @include page-title($fs-xxxl, $text-inverse);
    text-transform: uppercase;
  }

  &__subtitle {
    @include title();
    color: $text-inverse;
  }

  &__text {
    @include text();
    color: $text-inverse;
    font-size: $fs-xl;
  }

  &__hr {
    height: 8px;
    width: 5rem;
    background-color: $text-inverse;
  }
}
