// =================================
//   MIXINS
// =================================

// Imports
@use 'variables' as *;

// =================================
//   TYPOGRAPHY
// =================================

@mixin custom-text(
  $font-family: $font-text, 
  $font-weight: 400, 
  $font-size: 1rem, 
  $color: $text-primary
) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

@mixin page-title($size: $fs-xxxl, $color: $text-primary) {
  @include custom-text($font-title, 700, $size, $color);
}

@mixin title($size: $fs-xxl, $color: $text-primary) {
  @include custom-text($font-title, 700, $size, $color);
}

@mixin subtitle($size: $fs-xl, $color: $text-secondary) {
  @include custom-text($font-title, 600, $size, $color);
}

@mixin text($size: $fs-base, $color: $text-secondary) {
  @include custom-text($font-text, 400, $size, $color);
}

@mixin footer-text {
  @include custom-text($font-title, 500, $fs-base, $text-primary);
}

@mixin subtitle-muted($size: $fs-lg) {
  @include custom-text($font-title, 500, $size, $text-muted);
}

@mixin text-muted($size: $fs-base) {
   @include custom-text($font-text, 400, $size, $text-muted);
}

// =================================
//   STYLES
// =================================

// Masks
@mixin mask-dark($opacity: 0.15) {
  background-color: rgba(0, 0, 0, $opacity);
}

@mixin mask-light($opacity: 0.15) {
  background-color: rgba(251, 251, 251, $opacity);
}

// Effects
@mixin glass-effect {
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
}

// =================================
//   MEDIA QUERIES
// =================================

@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @media (max-width: ($breakpoint - 0.02px)) {
    @content;
  }
}

@mixin media-breakpoint-between($lower, $upper) {
  @media (min-width: $lower) and (max-width: ($upper - 0.02px)) {
    @content;
  }
}
