// =================================
//   VARIABLES
// =================================

// Imports
@use 'sass:color';

// =================================
//   COLORS
// =================================

// Background Colors
$background-main: #fbfbfb;
$background-primary: #ffffff;
$background-secondary: #f5f5f5;
$background-accent: #304ffe;
$background-accent-light: #eceff1;

$background-accent-hover: color.scale($background-accent, $lightness: -10%);
$background-accent-light-hover: color.scale($background-accent-light, $lightness: -10%);

// Text colors
$text-main: #332d2d;
$text-dark: #4b5563;
$text-muted: #6b7280;
$text-light: #ffffff;
$text-accent: #1e3a8a;

// Disabled 
$disabled-bg: #eee;
$disabled-text: #888;
$disabled-border: #ccc;

// Forms
$form-border: #607D8B;
$form-border-focus: #455A64;
$checkbox-border-color: $form-border;
$checkbox-checked: $form-border-focus;
$checkbox-label: $form-border-focus;

// Feedback colors
$success: #2e7d32;
$warning: #f9a825;
$danger: #d32f2f;
$info: #0288d1;

// =================================
//   TYPOGRAPHY
// =================================

// Fonts
$font-title: Arial, Helvetica, sans-serif;
$font-text: Verdana, Tahoma, sans-serif;
$font-form: $font-text;

// Font sizes
$fs-base: 1rem;
$fs-sm: 0.875rem;
$fs-md: 1rem;
$fs-lg: 1.25rem;
$fs-xl: 1.5rem;
$fs-xxl: 2rem;
$fs-xxxl: 3rem;
$fs-ultra: 4rem;

// =================================
//   SPACING
// =================================

$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-lg2: 2rem;
$spacing-xl: 3rem;

// =================================
//   BREAKPOINTS
// =================================

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

// =================================
//   BORDERS
// =================================

// Rounded
$rounded-xs: 0.25rem;
$rounded-sm: 0.375rem;
$rounded-md: 0.5rem;
$rounded-lg: 0.75rem;
$rounded-xl: 1rem;
$rounded-xxl: 1.5rem;
