// =================================
//   CONTENT LAYOUTS
// =================================

// Imports
@use '../base' as *;
@use 'layout-mixins' as *;

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: $spacing-xl;

  @include media-breakpoint-down($bp-xl) {
    gap: $spacing-lg2;
  }

  @include media-breakpoint-down($bp-sm) {
    row-gap: $spacing-lg;
  }
}

.player-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-xl;
  align-items: start;

  @include media-breakpoint-down($bp-xxl) {
    gap: $spacing-lg2;
  }

  @include media-breakpoint-down($bp-lg) {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-lg2;
  }

  @include media-breakpoint-down($bp-md) {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-lg;
  }

  @include media-breakpoint-down($bp-sm) {
    grid-template-columns: 1fr;
    gap: $spacing-md;
  }
}
