// =================================
//   PAGE LAYOUTS
// =================================

// Imports
@use '../base' as *;
@use 'layout-mixins' as *;

.page-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 5rem;

  @include media-breakpoint-down($bp-xxl) {
    row-gap: 4rem;
  }

  @include media-breakpoint-down($bp-xl) {
    row-gap: 3.5rem;
  }

  @include media-breakpoint-down($bp-md) {
    row-gap: 3rem;
  }

  @include media-breakpoint-down($bp-sm) {
    row-gap: $spacing-lg2;
  }
}

.main-layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: $spacing-xl;
  align-items: start;

  @include media-breakpoint-down($bp-xl) {
    grid-template-columns: 200px 1fr;
    gap: $spacing-lg2;
  }

  @include media-breakpoint-down($bp-lg) {
    grid-template-columns: 1fr;
  }

  @include media-breakpoint-down($bp-sm) {
    row-gap: $spacing-lg;
  }
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: $spacing-xl;

  @include media-breakpoint-down($bp-xl) {
    gap: $spacing-lg2;
  }

  @include media-breakpoint-down($bp-sm) {
    row-gap: $spacing-lg;
  }
}

.player-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-xl;
  align-items: start;

  @include media-breakpoint-down($bp-xxl) {
    gap: $spacing-lg2;
  }

  @include media-breakpoint-down($bp-lg) {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-lg2;
  }

  @include media-breakpoint-down($bp-md) {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-lg;
  }

  @include media-breakpoint-down($bp-sm) {
    grid-template-columns: 1fr;
    padding-inline: $spacing-md;
    gap: $spacing-md;
  }
}

.toolbar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: $spacing-lg2;

  @include media-breakpoint-down($bp-xl) {
    gap: $spacing-lg;
  }

  @include media-breakpoint-down($bp-md) {
    gap: $spacing-md;
  }
}
