// =================================
//   PAGE LAYOUTS
// =================================

// Imports
@use '../base' as *;
@use 'layout-mixins' as *;

.page-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main-content {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: $spacing-lg2;

  @include media-breakpoint-down($bp-xl) {
    grid-template-columns: 200px 1fr;
    gap: $spacing-lg;
  }

  @include media-breakpoint-down($bp-md) {
    grid-template-columns: 1fr;
  }
}

.player-list {
  @include grid-fill(300px);
  gap: $spacing-lg;
}
